mixin _opportunity(swimlane, order)
  - var fromX = swimlane.opportunity.timeOffset
  - var pinheadRadius = 10
  - var toX = fromX + swimlane.opportunity.timePeriod - (pinheadRadius * 2)
  - var y = 75 + order * 50
  a( xlink:href='http://www.w3schools.com/svg/')
    text(x='#{fromX}' y='#{y - 5}') #{swimlane.opportunity.name}
  line(class='swimmer #{swimlane.role}' x1='#{fromX}' y1='#{y}' x2='#{toX}' y2='#{y}')
  circle(class='swimmer #{swimlane.role}' cx='#{toX+5}' cy='#{y}' r='#{pinheadRadius}')
